<footer class="footer">
    <div class="container">
        <div class="container col-md-6 col-sm-6">
            <ul class="nav">
                <li><a href="./index.html">Home</a>
                </li>
                <li><a href="./contacto.html">Contacto</a>
                </li>
                <li><a href="./acerca.html">Acerca de</a>
                </li>
                <li><a href="./administracion.html">Administración</a>
                </li>
            </ul>
        </div>
        <div class="container text-center col-md-6 col-sm-6">
            <p>COMPARADOR DE FACTURAS ELECTRICAS.</p>
            <p class="header">join us on</p>
            <ul class="list-inline">
                <li>
                    <a href="https://twitter.com/NOTEVEN" target="_blank">
                        <img class="icon" src="./img/twitter.png" alt="Twitter icon" />
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/groups/NOTEVEN" target="_blank">
                        <img class="icon" src="./img/fb.png" alt="Facebook icon"/>
                    </a>
                </li>
            </ul>

            <span class="orange">&copy; 2015</span>
        </div>
    </div>
</footer>