<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="./index.html">Home</a>
                </li>
                <li><a href="./contacto.html">Contacto</a>
                </li>
                <li><a href="./acerca.html">Acerca de</a>
                </li>
                <li><a href="./login.html">Administración</a>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
     </div>
</nav>