@import url("http://fonts.googleapis.com/css?family=Ubuntu");

body {
    background-color: #e8e8e8;
    padding-top: 50px;
    color: #2d2d2d;
}

html {
    background-color: #e8e8e8;
}

.navbar {
    font-family: Ubuntu;
    background-image: linear-gradient(to bottom,/*#fff 0%,#e8e8e8 5%,*/#e8e8e8 95%,#ababab 100%);
}

.navbar-inverse .navbar-nav > li > a {
    text-shadow: none;
    color: #2d2d2d;
    border-bottom: 4px solid #2d2d2d;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    text-shadow: none;
    color: #316bb6;
    border-bottom: 4px solid #316bb6;
}

.navbar-inverse .navbar-nav > .active,
.navbar-inverse .navbar-nav > .active:hover,
.navbar-inverse .navbar-nav > .active:focus,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #23353e;
    background: none;
    box-shadow: none;
    text-shadow: none;
    font-weight: bold;
    border-bottom: 2px solid #23353e;
}

.stroke {
    text-shadow: -1px 0px 0px #2d2d2d,
				1px 0px 0px #2d2d2d,
				0px -1px 0px #2d2d2d,
				0px 1px 0px #2d2d2d;
}

.page-header {
    padding: 0px 0px 0px 5px;
    background-color: #ff7928;
    color: #316bb6;
}

.footer {
    font-family: Ubuntu;
    background-image: linear-gradient(to top,#e8e8e8 95%,#ababab 100%);
    padding-top: 10px;
    margin-top: 20px;
}

.icon {
    max-width: 42px;
}

/*====== CURRENT color palette ===========*/
.light-grey {
    color: #e8e8e8;
}

.grey {
    color: #ababab;
}

.dark-grey {
    color: #2d2d2d;
}

.lighter-blue {
    color: #8bb4e7;
}

.light-blue {
    color: #5e93d5;
}

.blue {
    color: #316bb6;
}

.dark-blue {
    color: #23353e;
}
/*========================================*/


/*============ FORM =================*/

.form-signin {
    max-width: 400px;
    padding: 20px;
    margin: 0px auto;
}